@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn:link, .btn:visited {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  background: linear-gradient(to left, #4D9078, #4d9079c0);
  color: #FFFCF9;
  text-decoration: none;
  border-radius: 0px;
  transition: all .3s; }

.btn:hover {
  outline: 1px solid #022124bb;
  outline-offset: 0.8rem; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .header-primary {
    color: #006D77;
    padding-bottom: 0.5rem;
    font-size: 1.3rem; }

.searchInput {
  outline: none;
  padding: 0.4rem;
  width: 18rem;
  font-size: 1rem; }

.searchUser {
  padding: 0.5rem;
  width: 6rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #006D77;
  color: #FFFCF9;
  border: 0;
  cursor: pointer; }

.profile {
  display: flex;
  width: 95vw;
  margin: 0 auto;
  text-align: center; }
  .profile__bio {
    flex-basis: 26%;
    margin-right: 3%;
    padding-bottom: 6rem; }
    .profile__bio--photo {
      width: 100%;
      height: 17rem;
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); }
      .profile__bio--photo img {
        height: 100%;
        width: 100%; }
    .profile__bio--name {
      font-size: 1.3rem;
      color: #022124bb;
      font-weight: 700;
      padding: 0.6rem; }
    .profile__bio--info p {
      word-spacing: 2px;
      letter-spacing: 1px;
      color: #022124bb; }
  .profile__tech {
    flex-basis: 71%;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-direction: column; }
    .profile__tech--info {
      flex-basis: 30%; }
    .profile__tech--repos {
      flex-basis: 70%; }
      .profile__tech--repos .repo {
        display: flex;
        width: 100%;
        padding: 0.7rem;
        margin-bottom: 0.5rem;
        border: 1px solid #022124bb; }
        .profile__tech--repos .repo .repo-name {
          flex-basis: 30%;
          padding: 0.3rem;
          text-align: center; }
          .profile__tech--repos .repo .repo-name a {
            text-decoration: none;
            border-bottom: 1px solid #006D77;
            color: #006D77; }
        .profile__tech--repos .repo .stars {
          flex-basis: 10%;
          padding: 0.3rem;
          color: #FFFCF9;
          background-color: #4361EE;
          text-align: center;
          margin-right: 10%; }
        .profile__tech--repos .repo .languages {
          flex-basis: 60%;
          padding: 0.3rem;
          background: linear-gradient(to left, #4D9078, #4d9079c0);
          text-align: center;
          color: #FFFCF9; }

.head {
  font-size: 1.5rem;
  text-align: center; }

.info-grid {
  display: grid;
  margin-top: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1.5rem;
  font-size: 1.2rem; }
  .info-grid span {
    display: inline-block;
    padding: 0.3rem;
    color: #FFFCF9;
    text-align: center;
    margin-right: 0.5rem;
    background: linear-gradient(to right, #22473a, #316351);
    -webkit-background-clip: text;
    color: transparent; }

body {
  font-family: "Roboto",Arial, Helvetica, sans-serif; }

.profile {
  font-family: "Lato",Arial, Helvetica, sans-serif; }

@media (max-width: 600px) {
  .profile {
    flex-direction: row;
    width: 100vw;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0; }
    .profile__bio {
      flex-basis: 100%;
      padding: 1rem;
      margin-right: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profile__bio--photo {
        clip-path: circle(50% at 50% 50%);
        height: 12rem;
        width: 12rem; }
    .profile__tech {
      padding: 1rem;
      padding-top: 3rem;
      flex-basis: 100%;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      background-color: #81eec827; }
  .searchInput {
    width: 14rem; }
  .info-grid {
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
    margin: auto;
    width: 95%;
    padding-top: 1rem; } }
