.btn{
    &:link,
    &:visited{
        display: inline-block;
        margin-top: 1rem;
        padding: 0.8rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        background: linear-gradient(to left, $color-emerald, #4d9079c0);
        color: $bg-color;
        text-decoration: none;
        border-radius: 0px;
        transition: all .3s;
        text-align: left;
        
    }
    &:hover{
        outline: 1px solid $color-ming-text;
        outline-offset: 0.8rem;
    }
}