footer{
    padding: 1.2rem;
    background: linear-gradient(to left, $color-emerald, #4d9079c0);
    color: $bg-color;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}