.profile{
    display: flex;
    width: 95vw;
    margin: 0 auto;
    text-align: center;

    &__bio{
        flex-basis: 26%;
        margin-right: 3%;
        padding-bottom: 6rem;

        &--photo{
            width: 100%;
            height: 17rem;
            clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);

            img{
                height: 100%;
                width: 100%;
            }
        }

        &--name{
            font-size: 1.3rem;
            color: $color-ming-text;
            font-weight: 700;
            padding: 0.6rem;
        }

        &--info{
            p{
                word-spacing: 2px;
                color: $color-ming-text;
            }
        }
    }



    &__tech{
        flex-basis: 71%;
        text-align: left;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        &--info{
            flex-basis: 30%;
            
        }
        &--repos{
            flex-basis: 70%;
            margin-top: 2rem;
            .repo{
                display: flex;
                width: 100%;
                padding: 0.7rem;
                margin-bottom: 0.5rem;
                border: 1px solid $color-ming-text;

                .repo-name{
                    flex-basis: 30%;
                    padding: 0.3rem;
                    text-align: center;
                    a{
                        text-decoration: none;
                        border-bottom: 1px solid $color-ming;
                        color: $color-ming;
                    }
                }
                .stars{
                    flex-basis: 10%;
                    padding: 0.3rem;
                    color: $bg-color;
                    background-color: #6d84e9;
                    text-align: center;
                    margin-right: 10%;
                }
                .created{
                    flex-basis: 60%;
                    padding: 0.3rem;
                    background: linear-gradient(to left, $color-emerald, #4d9079c0);
                    text-align: center;
                    color: $bg-color;
                }
            }
            
        }

    }
}


.head{
    font-size: 1.5rem;
    text-align: center;
}

.info-grid{
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1.5rem;
    font-size: 1.2rem;
    span{
        display: inline-block;
        padding: 0.3rem;
        color: $bg-color;
        text-align: center;
        margin-right: 0.5rem;
        background: linear-gradient(to right, #22473a, #316351);
        -webkit-background-clip: text;
        color: transparent;

    }
}

.error {
    display: inline-block;
    margin: 1.5rem;
    background-color: rgb(156, 43, 43);
    padding: 2rem;
    color: $bg-color;

}

