@media (max-width: 600px){
    .profile{
        flex-direction: row;
        width: 100vw;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
        transition: all .5s;
        animation-name: moveUp;
        animation-duration: .5s;

        &__bio{
            flex-basis: 100%;
            padding: 1rem;
            margin-right: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &--photo {
                clip-path: circle(50% at 50% 50%);
                height: 12rem;
                width: 12rem;
                
            }
        }
        &__tech{
            padding: 1rem;
            padding-top: 3rem;
            flex-basis: 100%;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            background: linear-gradient(to right, #81eec825, $bg-color);
            &--repos{
                font-size: 0.75rem;
            }
        }
    }

    .searchInput {
        width: 14rem;
    }

    .info-grid{
        grid-template-columns: 1fr 1fr;
        font-size: 0.8rem;
        align-items: center;
        justify-items: center;
        padding-top: 1rem;
    }
    .btn{
        &:link,
        &:visited{
            width: 11rem;
        }
    }
}